In [13]:
%run web_scrape_func_def.ipynb

imports loaded.

> file management func:

    get_content(directory)
    get_last_update(file_path)

> fighters_stats_scrape func:

    get_xml(url, headers = {'User-Agent':'Moz...}) # Return web page data in .xml format.
    get_links(url)
    get_fighter_data(url) # Retrive data as list
    get_current_date()

> matches_stats_web_scrape func:

    get_event_date(xml)
    get_event_data(event_link)
    get_later_date(date1, date2)

# Main( )

### last update:

In [17]:
files = get_content(directory='../data/')
last_file_update = None

for file in files:
    if 'ufc_fighters_stats' in file:
        last_file_update = get_last_update(file_path = '../data/' + file)

last_file_update

'01-03-2023'

### Extracting links:

In [14]:
links = []
for page in tqdm(ascii_letters.lower()):
    url = 'http://ufcstats.com/statistics/fighters?char=' + page + '&page=all'
    links.extend(get_links(url=url))
    
links = np.unique(links)
print('array length: %d' %len(links))
links[len(links)-4:len(links)-1]

100%|██████████████████████████████████████████████████████████████████████████████████| 52/52 [00:35<00:00,  1.46it/s]

array length: 3953

array(['http://ufcstats.com/fighter-details/ffc3e6daaa6da0b7',
       'http://ufcstats.com/fighter-details/ffdeb4fbea09ce75',
       'http://ufcstats.com/fighter-details/ffe9703408fb5964'],
      dtype='<U52')

### Extracting all fighters data:

In [15]:
column_names = ['name','wins','losses','draws','height','weight','reach','stance','dob','slpm','str_acc','sapm','str_def','td_avg','td_acc','td_def','sub_avg','last_update','last_match']
data = []

start_time = time() 

for url in tqdm(links):
    data.append(get_fighter_data(url=url))

end_time = time() 
print('Process time = %f sec' %(end_time - start_time))
df = pd.DataFrame(data=data, columns=column_names)
df.tail()

100%|██████████████████████████████████████████████████████████████████████████████| 3953/3953 [34:13<00:00,  1.92it/s]

,name,wins,losses,draws,height,weight,reach,stance,dob,slpm,str_acc,sapm,str_def,td_avg,td_acc,td_def,sub_avg,last_update,last_match
3948,Quinton Jackson,37,12,0,"6'1""",205lbs.,"73""",Orthodox,"Jun20,1978",3.25,54%,2.51,55%,1.52,56%,73%,0.1,05-04-2023,25-04-2015
3949,Johnny Bedford,21,13,1 (1 NC),"5'10""",135lbs.,"71""",Orthodox,"Jan06,1983",4.53,50%,1.75,63%,1.83,62%,62%,0.0,05-04-2023,13-09-2014
3950,Jessica Rakoczy,1,5,0 (1 NC),"5'7""",115lbs.,--,Orthodox,"Apr14,1977",2.50,44%,3.55,64%,0.75,20%,0%,0.8,05-04-2023,25-04-2015
3951,David Onama,10,2,0,"5'11""",145lbs.,"74""",Orthodox,"Jun07,1994",5.30,45%,5.75,51%,1.06,20%,45%,0.3,05-04-2023,13-08-2022
3952,Dillon Smith,0,0,0,"6'0""",170lbs.,--,,--,0.00,0%,0.00,0%,0.00,0%,0%,0.0,05-04-2023,25-09-2009

### Saving file:

In [18]:
loc = '../data/'
df.to_csv('../data/ufc_fighters_stats.csv', index=0)
print('../data/ufc_fighters_stats.csv saved.')

../data/ufc_fighters_stats.csv saved.